
.mh-icon-download:before { content: '\e800'; } /* '' */
.mh-icon-mail:before { content: '\e801'; } /* '' */
.mh-icon-heart:before { content: '\e802'; } /* '' */
.mh-icon-link:before { content: '\e803'; } /* '' */
.mh-icon-thumbs-up:before { content: '\e804'; } /* '' */
.mh-icon-search:before { content: '\e805'; } /* '' */
.mh-icon-cancel:before { content: '\e806'; } /* '' */
.mh-icon-plus:before { content: '\e807'; } /* '' */
.mh-icon-forward:before { content: '\e808'; } /* '' */
.mh-icon-zoom-in:before { content: '\e809'; } /* '' */
.mh-icon-right-open:before { content: '\e80a'; } /* '' */
.mh-icon-left-open:before { content: '\e80b'; } /* '' */
.mh-icon-close:before { content: '\e80c'; } /* '' */
.mh-icon-ok:before { content: '\e80d'; } /* '' */
.mh-icon-right:before { content: '\e80e'; } /* '' */
.mh-icon-left:before { content: '\e80f'; } /* '' */
.mh-icon-play:before { content: '\e810'; } /* '' */
.mh-icon-pause:before { content: '\e811'; } /* '' */
.mh-icon-eye:before { content: '\e812'; } /* '' */
.mh-icon-camera:before { content: '\e813'; } /* '' */
.mh-icon-spin1:before { content: '\e830'; } /* '' */
.mh-icon-spin2:before { content: '\e831'; } /* '' */
.mh-icon-spin3:before { content: '\e832'; } /* '' */
.mh-icon-spin4:before { content: '\e834'; } /* '' */
.mh-icon-spin5:before { content: '\e838'; } /* '' */
.mh-icon-spin6:before { content: '\e839'; } /* '' */
.mh-icon-th-thumb:before { content: '\f00a'; } /* '' */
.mh-icon-link-ext:before { content: '\f08e'; } /* '' */
.mh-icon-twitter:before { content: '\f099'; } /* '' */
.mh-icon-facebook:before { content: '\f09a'; } /* '' */
.mh-icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.mh-icon-gplus:before { content: '\f0d5'; } /* '' */
.mh-icon-linkedin:before { content: '\f0e1'; } /* '' */
.mh-icon-comment:before { content: '\f0e5'; } /* '' */
.mh-icon-youtube:before { content: '\f16a'; } /* '' */
.mh-icon-dropbox:before { content: '\f16b'; } /* '' */
.mh-icon-instagram:before { content: '\f16d'; } /* '' */
.mh-icon-flickr:before { content: '\f16e'; } /* '' */
.mh-icon-tumblr:before { content: '\f173'; } /* '' */
.mh-icon-dribbble:before { content: '\f17d'; } /* '' */
.mh-icon-skype:before { content: '\f17e'; } /* '' */
.mh-icon-vimeo:before { content: '\f194'; } /* '' */
.mh-icon-reddit:before { content: '\f1a1'; } /* '' */
.mh-icon-digg:before { content: '\f1a6'; } /* '' */
.mh-icon-vine:before { content: '\f1ca'; } /* '' */
.mh-icon-git:before { content: '\f1d3'; } /* '' */
.mh-icon-wechat:before { content: '\f1d7'; } /* '' */
.mh-icon-share:before { content: '\f1e0'; } /* '' */
.mh-icon-pinterest:before { content: '\f231'; } /* '' */
.mh-icon-whatsapp:before { content: '\f232'; } /* '' */